* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-a: #fff;
  --text-b: #f5f5f5;
  --text-c: #d4d4d8;
  --text-d: #18d26e;
  --bg-nav: #202020;
  --bg-nav2: rgb(32, 32, 32);
  --bg-a: #161625;
  --bg-b: #f5f5f5;
  --bg-c: #27272a;
  --bg-d: rgb(36, 36, 36);

  --border-a: #3a3f42;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}

body {
  color: var(--text-a);
  background-color: var(--bg-a);
}

body::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.486) 85%,
      rgb(0, 0, 0) 100%
    ),
    url("/images/wallpaper/adashi-and-shimamura.jpeg") no-repeat;
  background-position: right center;
  background-size: cover;
  height: 100vh;
  filter: blur(0.3rem);
}

#ads {
  height: 100vh;
  margin-top: 25rem;
  position: relative;
}

.wallpaper1::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.486) 85%,
      rgb(0, 0, 0) 100%
    ),
    url("/images/wallpaper/adashi-and-shimamura2.jpeg")
      no-repeat;
  background-position: right center;
  background-size: cover;
  height: 100vh;
  filter: blur(0.3rem);
}

.wallpaper2::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.486) 85%,
      rgb(0, 0, 0) 100%
    ),
    url("https://user-images.githubusercontent.com/64634605/219935706-ab5f3596-b74b-43e1-8442-0163a2d62a28.png")
      no-repeat;
  background-position: right center;
  background-size: cover;
  height: 100vh;
  filter: blur(0.3rem);
}

.custom-shape-divider-top-1676791637 {
  position: absolute;
  top: -0.8rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1676791637 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3rem);
  height: 249px;
}

.custom-shape-divider-top-1676791637 .shape-fill {
  fill: var(--bg-a);
}

.custom-shape-divider-bottom-1676792117 {
  position: absolute;
  bottom: -0.8rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1676792117 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 272px;
}

.custom-shape-divider-bottom-1676792117 .shape-fill {
  fill: var(--bg-a);
}

a {
  text-decoration: none;
}

hr {
  background-color: var(--border-a);
  margin-top: 1.6rem;
  margin-bottom: 2.4rem;
  height: 0.05rem;
  border: 0;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 500;
}

p {
  font-weight: 400;
}

/* Global Class */
.flex {
  display: flex !important;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center-x {
  justify-content: center;
}
.flex-center-y {
  align-items: center;
}
.flex-center-xy {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.avatar {
  border-radius: 50%;
}
.image-fit {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.image-fit2 {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.nav-links a {
  color: var(--text-a);
}

.nav-links nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 2rem;
  padding: 1.5rem 4rem;
  border-bottom: 0.1rem solid var(--border-a);
  background-color: rgba(32, 32, 32, 0.9);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.nav-links nav * {
  z-index: 99;
}

.nav-links nav > a {
  font-family: "Pacifico", cursive;
}

.toggle-btn {
  display: none;
}

.nav-links nav ul li {
  list-style: none;
  display: inline-block;
  padding: 0 1rem;
}

@media screen and (max-width: 900px) {
  nav {
    height: auto;
    flex-direction: column;
    padding: 1rem 3rem !important;
  }

  nav ul {
    width: 100%;
    display: none;
    flex-direction: column;
    transition: 0.5s;
  }

  nav ul li a {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
  }

  .toggle-btn {
    display: block;
    position: fixed;
    right: 4rem;
  }

  .nav-active {
    display: flex;
  }
}

@media screen and (min-width: 900px) {
  .nav-links nav ul li a:hover {
    transition: 0.5s;
    color: var(--text-d);
  }

  .nav-links nav ul li a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--text-d);
    transition: 0.5s;
  }

  .nav-links nav ul li a:hover::after {
    width: 100%;
  }
}

p {
  color: var(--text-c);
}

/* Main */
#home,
#about,
#education,
#projects {
  padding: 0 1.6rem;
  margin: 0 auto;
}

@media screen and (min-width: 512px) {
  #home,
  #about,
  #education,
  #projects {
    max-width: 50rem;
  }
}

@media screen and (min-width: 768px) {
  #home,
  #about,
  #education,
  #projects {
    max-width: 72rem;
  }
}

@media screen and (min-width: 900px) {
  #home,
  #about,
  #education,
  #projects {
    max-width: 86rem;
  }
}

@media screen and (min-width: 1280px) {
  #home,
  #about,
  #education,
  #projects {
    max-width: 124rem;
  }
}

@media screen and (min-width: 1920px) {
  #home,
  #about,
  #education,
  #projects {
    max-width: 164rem;
  }
}

@media screen and (min-width: 2318px) {
  #home,
  #about,
  #education,
  #projects {
    max-width: 204.6rem;
  }
}

/* ----- Home ----- */
#home {
  height: 100vh;
}

.container-home {
  display: flex;
}

@media screen and (max-width: 900px) {
  .container-home {
    margin-top: 15rem;
  }

  .greeting-container {
    flex-direction: column-reverse;
  }
  .greeting-img {
    width: 40%;
  }
}

.greeting {
  padding: 2rem;
}

.greeting h1 {
  font-size: 4rem;
  font-weight: 700;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

.greeting h1 span:last-child {
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #f472b6, #38bdf8);
}

.greeting p {
  margin-top: 2rem;
  font-size: 2.4rem;
}

/* ----- Social media ----- */
.social-media {
  margin-top: 0.5rem;
  font-size: 2.4rem;
}

.social-media ul li {
  list-style: none;
  display: inline-block;
}

.social-media ul li a {
  width: 40px;
  height: 40px;
}

a.facebook {
  color: var(--bg-b);
  background-color: #1094f4;
}

a.twitter {
  color: var(--text-b);
  background-color: #00acee;
}

a.github {
  color: var(--text-b);
  background-color: #333;
}

a.instagram {
  color: var(--bg-b);
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

a.mail {
  color: var(--text-b);
  background-color: #32beef;
}

/* ----- About ----- */
#about {
  margin-top: 10rem;
}

.about-me h1 {
  font-size: 4rem;
  color: var(--text-d);
}

.about-me p {
  font-size: 2rem;
}

#my-skills {
  margin-top: 6rem;
}

/* ----- Skills ----- */
#my-skills h2 {
  text-align: center;
  font-size: 3.2rem;
}

.skills {
  margin-top: 4rem;
  gap: 2rem;
}

@media (max-width: 1280px) {
  .skills {
    flex-direction: column;
  }
}

.lanuages,
.front-end,
.back-end,
.tools {
  width: 100%;
}

.lanuages h3,
.front-end h3,
.back-end h3,
.tools h3 {
  text-align: center;
  font-size: 2.6rem;
}

.lanuages p,
.front-end p,
.back-end p,
.tools p {
  font-size: 2rem;
  text-align: center;
}

.lanuages-group,
.front-end-group,
.back-end-group,
.tools-group {
  gap: 2rem;
  margin-top: 1rem;
  padding: 1rem;
}

.fa-node {
  color: #68a063;
}

.icon {
  gap: 2rem;
}

.devicon-group i,
.icon i {
  font-size: 5rem;
}

/* My Certificates */
#my-certificates {
  margin-top: 6rem;
}

#my-certificates h2 {
  font-size: 3.2rem;
  text-align: center;
}

/* Image slider */
.splide {
  margin-top: 4rem;
}

[role="tablist"] {
  bottom: -3rem !important;
}

.splide__arrow {
  font-size: 1.8rem;
}

/* Education */
#education {
  margin-top: 10rem;
}

#education h1 {
  font-size: 4rem;
  color: var(--text-d);
}

#education h2 {
  font-size: 2rem;
  color: var(--text-d);
}

#education p {
  font-size: 1.6rem;
}

#education h2 i {
  font-size: 2rem;
}

@media screen and (max-width: 512px) {
  #education h2 {
    font-size: 1.6rem;
    color: var(--text-d);
  }

  #education p {
    font-size: 1.2rem;
  }
}

.detail img {
  width: 10rem;
  height: 10rem;
}

.detail-plus {
  margin-left: 1rem;
}

.school {
  position: relative;
}

.timeline {
  margin: 0 auto;
  max-width: 1080px;
}

.center-line {
  height: 100%;
  width: 3px;
  background-color: var(--bg-d);

  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.center-line a i {
  width: 35px;
  height: 35px;
  font-size: 2rem;
  color: #fff;
  background-color: var(--bg-d);

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-left {
  justify-content: flex-start;
}

.timeline-right {
  justify-content: flex-end;
}

.timeline-container {
  width: calc(50% - 5rem);
  border-radius: 1rem;
  padding: 2rem;
  background-color: var(--bg-d);
  position: relative;
}

.timeline-container::before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  background-color: var(--bg-d);
  top: 25px;
  z-index: -1;
  transform: rotate(45deg);
}

.timeline-left .timeline-container::before {
  right: -7px;
}

.timeline-right .timeline-container::before {
  left: -7px;
}

.timeline-container i {
  font-size: 2.4rem;
  position: absolute;
  background-color: var(--bg-d);
  width: 40px;
  height: 40px;
}

.timeline-left .timeline-container i {
  left: calc(100% + 3rem);
}

.timeline-right .timeline-container i {
  right: calc(100% + 3rem);
}

@media screen and (max-width: 900px) {
  .center-line {
    left: 2rem;
  }

  .timeline-right .timeline-container i,
  .timeline-left .timeline-container i {
    left: -7rem;
  }

  .timeline-left .timeline-container::before {
    left: -0.8rem;
  }

  .timeline-container {
    width: 100%;
  }

  .timeline-right,
  .timeline-left {
    margin-left: 7rem;
    margin-bottom: 3rem;
  }
}

/* Projects */
#projects {
  height: 100vh;
  margin-top: 10rem;
}

#projects h1 {
  color: var(--text-d);
  font-size: 4rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  margin-right: -0.8rem;
  margin-left: -0.8rem;
}

.project-section-list-renderer {
  background-color: var(--bg-d);
  border-color: 0.1rem solid var(--border-a);
  border-radius: 1rem;

  margin: 0 0.8rem 1.6rem 0.8rem;
}

.project-details {
  padding: 2.4rem;
}

.project-details > i {
  font-size: 2.2rem;
  padding-right: 1rem;
  color: #8b949e;
}

.project-details > a {
  color: #58a6ff;
  font-size: 2.2rem;
}

.project-details > a:hover {
  text-decoration: underline;
}

.project-details p {
  font-size: 1.8rem;
  color: #8b949e;

  display: -webkit-box;
  white-space: normal;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-bottom-details {
  font-size: 1.4rem;
  margin-top: 1rem;
  gap: 1rem;
}

.project-bottom-details * {
  color: #8b949e;
}

.project-thunbnail picture {
  padding-top: 56.25%;
  position: relative;
}

.project-thunbnail img {
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  object-position: center top;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.project-bottom-details svg {
  height: 16px;
  width: 16px;
}

.icon-python {
  gap: 0.6rem;
}

#footer {
  height: 100vh;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #6b7cff, #6868f7);
  border-radius: 30px;
}

::-webkit-scrollbar-track {
  background: #181818;
  border-radius: 0;
  box-shadow: inset 0 0 0 0 #f0f0f0;
}
